lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea

pids
logs
results

npm-debug.log

coverage
node_modules
lib

examples/*.js
examples/*.d.ts
examples/*.map
test/*.d.ts
test/*.js
test/*.map